@using Microsoft.AspNetCore.Http

@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery Antiforgery

@Html.AntiForgeryToken()

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@using ProjetoRenar.Application.ViewModels.Usuarios
@using Newtonsoft.Json
@{
    var minhaConta = JsonConvert.DeserializeObject<MinhaContaViewModel>(User.Identity.Name);
    var unidade = minhaConta.Unidades.FirstOrDefault(u => u.FlagUnidadePadrao);
    if (unidade == null && minhaConta.Unidades != null && minhaConta.Unidades.Count == 1)
    {
        unidade = minhaConta.Unidades.FirstOrDefault();
    }
}

@using Sidetech.Framework.Cryptography

@{
    var crConnection = new DefaultCrypto(DefaultCrypto.Algorithms.Rijndael);
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Renar Etiquetas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">

    <link href="~/main.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" />
    <link href="~/css/auto-complete.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" rel="stylesheet" />

    @RenderSection("styles", required: false)

    <style>

        .mm-active > a {
            background-color: #1b2736 !important;
            color: #fff !important;
        }

        #loading {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: fixed;
            display: none;
            opacity: .2;
            background-color: #000;
            z-index: 99999;
            text-align: center
        }

        #loading-image {
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -30px;
            margin-left: -30px
        }

        .widget-content .widget-content-left .widget-heading {
            opacity: 1 !important;
            font-weight: bold;
        }

        .app-page-title .page-title-heading {
            font-size: 1.25rem;
            font-weight: 500;
            display: flex;
            align-content: center;
            align-items: center;
        }

        .form-control {
            font-size: .9rem !important;
        }

        .app-page-title {
            padding: 14px 10px 14px 30px;
        }

        .app-sidebar .app-sidebar__inner {
            background-color: #25364a;
        }

        .vertical-nav-menu li a.mm-active {
            color: #fff;
            background: #121b25;
            font-weight: normal;
        }

        .vertical-nav-menu li i {
            font-size: 12pt;
        }

        .vertical-nav-menu li a.mm-active i {
            color: #3783b5;
            font-size: 12pt;
        }

        .vertical-nav-menu li a:hover {
            color: #fff !important;
            background: #1b2736;
        }

            .vertical-nav-menu li a:hover i {
                color: #3783b5;
            }

        .vertical-nav-menu li a {
            color: #90c0e2;
            font-weight: normal !important;
            margin-left: -6px;
            margin-right: -6px;
        }

        .app-sidebar .app-sidebar__inner {
            padding: 1px 1.0rem 1.0rem;
        }

        .app-sidebar__heading {
            color: #fff;
        }

        .vertical-nav-menu ul > li > a.mm-active {
            background: #1b2736;
            color: #fff !important;
            font-weight: normal !important;
        }

        table.dataTable tfoot th, table.dataTable tfoot td {
            padding: 10px 18px 6px 18px;
            border-top: 1px solid #ccc;
        }

        table.dataTable thead th, table.dataTable thead td {
            padding: 10px 18px;
            border-bottom: 1px solid #ccc;
        }

        table.dataTable.no-footer {
            border-bottom: none !important;
        }

        .previous, .next {
            height: 40px;
        }

        input.input-validation-error,
        textarea.input-validation-error,
        select.input-validation-error {
            border: 1px solid #d92550 !important;
        }

        .hamburger {
            padding: 6px 6px 4px 6px;
        }

            .hamburger:hover {
                background-color: #eee;
                border: 1px solid #ccc;
                border-radius: 4px;
                padding: 6px 6px 4px 6px;
            }
    </style>

    <style>
        /* Important part */
        .modal-dialog {
            overflow-y: initial !important
        }

        .modal-body {
            max-height: 500px;
            overflow-y: auto;
        }
    </style>

    <style>
        .modal.fade.show {
            backdrop-filter: blur(4px);
        }

        .modal {
            margin-top: 0 !important;
        }
    </style>

    <style>
        .table-hover tbody tr:hover {
            background-color: #eee !important;
        }
    </style>

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>
<body>

    <div id="loading">
        <img id="loading-image" src="/images/loading.gif" alt="Loading..." width="60" height="60" />
    </div>

    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header closed-sidebar">
        <div class="app-header header-shadow" style="background-color: #fff!important;">
            <div class="app-header__logo">
                <div class="text-center" id="arealogo"><a href="/app"><img src="/images/logo.png" style="width: 160px;" /></a></div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content" style="margin-left: 200px;">
                <div class="app-header-left">
                    <ul class="header-menu nav">
                        @if (unidade != null)
                        {
                            <li class="btn-group nav-item">
                                <div style="border: 1px solid #ccc; padding: 6px; border-radius: 6px;">
                                    &nbsp;&nbsp;<i class="text-primary fa fa-check-circle"></i>&nbsp;&nbsp;
                                    <a href="#" data-toggle="modal" data-target="#janelaunidade">
                                        @unidade.NomeUnidade
                                    </a>
                                    &nbsp;&nbsp;
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left  ml-3 header-user-info" style="border-left: 1px solid #ccc; padding-left: 20px;">
                                    <div class="widget-heading" style="text-transform: uppercase;">
                                        @minhaConta.EmailUsuario
                                    </div>
                                    <div class="widget-subheading">@(minhaConta.IDPerfil == 1 ? "ADMINISTRADOR" : "OPERADOR")</div>
                                </div>
                                @**
                                    <div class="widget-content-left header-user-info ml-3">
                                        <button type="button" class="btn-shadow p-1 btn btn-primary btn-sm">
                                            <i class="fa text-white fa-bell pr-1 pl-1"></i>
                                        </button>
                                    </div>
                                *@
                                <div class="widget-content-left" style="margin-left: 10px;">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                            <a href="/app/principal/redefinirsenha" tabindex="0" class="dropdown-item"><i class="fa fa-key"></i>&nbsp;Alterar Senha</a>
                                            <div class="dropdown-divider"></div>
                                            <a href="~/account/logout" onclick="loading()" tabindex="0" class="dropdown-item"><i class="fa fa-sign-out-alt"></i>&nbsp;Sair do Sistema</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-main">
            <div class="app-sidebar sidebar-shadow">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>

                @if (httpContextAccessor.HttpContext?.Session.GetString("urlBase") != null && httpContextAccessor.HttpContext.Session.GetString("urlBase").Contains("voalzira"))
                {

                    <div class="scrollbar-sidebar" style="overflow-y: scroll!important;">
                        <div class="app-sidebar__inner" style="min-height: 100%">
                            <ul class="vertical-nav-menu" style="margin-top: 10px;">

                                <li>
                                    <a href="#" class="app-sidebar__heading">
                                        <i class="metismenu-icon fa fa-address-card"></i>
                                        Etiquetas
                                        <i style="font-size: 9pt;" class="metismenu-state-icon fa fa-chevron-down caret-left"></i>
                                    </a>
                                    <ul class="mm-collapse">
                                        <li>
                                            <a onclick="loading()" href="/app/principal/index" style="color: #90c0e2;">
                                                <i class="fa fa-print"></i>
                                                &nbsp;Imprimir etiquetas
                                            </a>
                                        </li>

                                        @if (minhaConta.IDPerfil == 1)
                                        {
                                            <li>
                                                <a onclick="loading()" href="/app/principal/dashboard" style="color: #90c0e2;">
                                                    <i class="fa fa-chart-pie"></i>
                                                    &nbsp;Painel de controle
                                                </a>
                                            </li>
                                        }


                                    </ul>
                                </li>

                                @if (minhaConta.IDPerfil == 1)
                                {

                                    <li>
                                        <a href="#" class="app-sidebar__heading">
                                            <i class="metismenu-icon fa fa-tasks"></i>
                                            Produtos
                                            <i style="font-size: 9pt;" class="metismenu-state-icon fa fa-chevron-down caret-left"></i>
                                        </a>
                                        <ul class="mm-collapse">
                                            <li>
                                                <a onclick="loading()" href="/app/produtos/consulta" style="color: #90c0e2;">
                                                    <i class="fa fa-tasks"></i>
                                                    &nbsp;Gerenciar produtos
                                                </a>
                                            </li>
                                            <li>
                                                <a onclick="loading()" href="/app/tiposproduto/consulta" style="color: #90c0e2;">
                                                    <i class="fa fa fa-cogs"></i>
                                                    &nbsp;Tipos de produtos
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#" class="app-sidebar__heading">
                                            <i class="metismenu-icon fa fa-window-maximize"></i>
                                            Lojas
                                            <i style="font-size: 9pt;" class="metismenu-state-icon fa fa-chevron-down caret-left"></i>
                                        </a>
                                        <ul class="mm-collapse">
                                            <li>
                                                <a onclick="loading()" href="/app/unidades/consulta" style="color: #90c0e2;">
                                                    <i class="fa fa-window-maximize"></i>
                                                    &nbsp;Gerenciar lojas
                                                </a>
                                            </li>
                                            <li>
                                                <a onclick="loading()" href="/app/regioes/consulta" style="color: #90c0e2;">
                                                    <i class="fa fa-globe"></i>
                                                    &nbsp;Gerenciar regiões
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#" class="app-sidebar__heading">
                                            <i class="metismenu-icon fa fa-user-plus"></i>
                                            Usuários
                                            <i style="font-size: 9pt;" class="metismenu-state-icon fa fa-chevron-down caret-left"></i>
                                        </a>
                                        <ul class="mm-collapse">
                                            <li>
                                                <a onclick="loading()" href="/app/usuarios/consulta" style="color: #90c0e2;">
                                                    <i class="fa fa fa-user-plus"></i>
                                                    &nbsp;Gerenciar usuários
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                }

                            </ul>
                        </div>
                    </div>

                }

                @if (httpContextAccessor.HttpContext?.Session.GetString("urlBase") != null && httpContextAccessor.HttpContext.Session.GetString("urlBase").Contains("impettus"))
                {

                    <div class="scrollbar-sidebar" style="overflow-y: scroll!important;">
                        <div class="app-sidebar__inner" style="min-height: 100%">
                            <ul class="vertical-nav-menu" style="margin-top: 10px;">

                                <li>
                                    <a href="#" class="app-sidebar__heading">
                                        <i class="metismenu-icon fa fa-address-card"></i>
                                        Etiquetas
                                        <i style="font-size: 9pt;" class="metismenu-state-icon fa fa-chevron-down caret-left"></i>
                                    </a>
                                    <ul class="mm-collapse">
                                        <li>
                                            <a onclick="loading()" href="/app/impettusprincipal/index" style="color: #90c0e2;">
                                                <i class="fa fa-print"></i>
                                                &nbsp;Imprimir etiquetas
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="mm-collapse">
                                        <li>
                                            <a onclick="loading()" href="/app/impettusprincipal/utilizacaodescarte" style="color: #90c0e2;">
                                                <i class="fa fa-list"></i>
                                                &nbsp;Utilização e descarte
                                            </a>
                                        </li>
                                    </ul>
                                    @if (minhaConta.IDPerfil == 1)
                                    {
                                        <ul>
                                            <li>
                                                <a onclick="loading()" href="/app/impettusprincipal/dashboard" style="color: #90c0e2;">
                                                    <i class="fa fa-chart-pie"></i>
                                                    &nbsp;Painel de controle
                                                </a>
                                            </li>
                                        </ul>
                                    }
                                </li>

                                @if (minhaConta.IDPerfil == 1)
                                {

                                    <li>
                                        <a href="#" class="app-sidebar__heading">
                                            <i class="metismenu-icon fa fa-tasks"></i>
                                            Produtos
                                            <i style="font-size: 9pt;" class="metismenu-state-icon fa fa-chevron-down caret-left"></i>
                                        </a>
                                        <ul class="mm-collapse">
                                            <li>
                                                <a onclick="loading()" href="/app/impettusprodutos/consulta" style="color: #90c0e2;">
                                                    <i class="fa fa-tasks"></i>
                                                    &nbsp;Gerenciar produtos
                                                </a>
                                            </li>
                                            <li>
                                                <a onclick="loading()" href="/app/impettusgruposproduto/consulta" style="color: #90c0e2;">
                                                    <i class="fa fa fa-cogs"></i>
                                                    &nbsp;Grupos de produtos
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#" class="app-sidebar__heading">
                                            <i class="metismenu-icon fa fa-table"></i>
                                            Preparações
                                            <i style="font-size: 9pt;" class="metismenu-state-icon fa fa-chevron-down caret-left"></i>
                                        </a>
                                        <ul class="mm-collapse">
                                            <li>
                                                <a onclick="loading()" href="/app/impettuspreparacoes/consulta" style="color: #90c0e2;">
                                                    <i class="fa fa-table"></i>
                                                    &nbsp;Gerenciar preparações
                                                </a>
                                            </li>
                                            <li>
                                                <a onclick="loading()" href="/app/impettusgrupospreparacoes/consulta" style="color: #90c0e2;">
                                                    <i class="fa fa fa-list-alt"></i>
                                                    &nbsp;Grupos de preparações
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#" class="app-sidebar__heading">
                                            <i class="metismenu-icon fa fa-window-maximize"></i>
                                            Lojas
                                            <i style="font-size: 9pt;" class="metismenu-state-icon fa fa-chevron-down caret-left"></i>
                                        </a>
                                        <ul class="mm-collapse">
                                            <li>
                                                <a onclick="loading()" href="/app/unidades/consulta" style="color: #90c0e2;">
                                                    <i class="fa fa-window-maximize"></i>
                                                    &nbsp;Gerenciar lojas
                                                </a>
                                            </li>
                                            <li>
                                                <a onclick="loading()" href="/app/regioes/consulta" style="color: #90c0e2;">
                                                    <i class="fa fa-globe"></i>
                                                    &nbsp;Gerenciar regiões
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#" class="app-sidebar__heading">
                                            <i class="metismenu-icon fa fa-user-plus"></i>
                                            Usuários
                                            <i style="font-size: 9pt;" class="metismenu-state-icon fa fa-chevron-down caret-left"></i>
                                        </a>
                                        <ul class="mm-collapse">
                                            <li>
                                                <a onclick="loading()" href="/app/usuarios/consulta" style="color: #90c0e2;">
                                                    <i class="fa fa fa-user-plus"></i>
                                                    &nbsp;Gerenciar usuários
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>

                }


            
            
            </div>

            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading" style="height: 40px;">
                                <div class="page-title-icon" style="height: 34px; width: 50px;">
                                    <i class="@ViewBag.Icon icon-gradient bg-primary" style="font-size: 16pt; margin: 0px;">
                                    </i>
                                </div>
                                <div style="margin-left: -10px;">
                                    @ViewBag.Titulo
                                </div>
                            </div>
                            @RenderSection("empresa_filtro", required: false)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            @if (TempData["MensagemSucesso"] != null)
                            {
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong>@TempData["MensagemSucesso"]</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div> }
                            else if (TempData["MensagemErro"] != null)
                            {
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>@TempData["MensagemErro"]</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div> }
                            else if (TempData["MensagemAlerta"] != null)
                            {
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong>@TempData["MensagemAlerta"]</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>}

                            @RenderBody()
                        </div>
                    </div>

                </div>
                <br />
                <br />
                <div class="app-wrapper-footer">
                    <div class="app-footer">
                        <div class="app-footer__inner" style="background-color :#fff!important">
                            <div class="app-footer-left">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="nav-link">
                                            Renar Etiquetas | Versão 3.3
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="app-footer-right">
                                <ul class="nav">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        </div>
    </div>

    <div id="janelaunidade" class="modal fade bd-example-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Lojas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-dark">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th width="40%">Unidade</th>
                                <th width="30%">Endereço</th>
                                <th width="30%">Contato</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in minhaConta.Unidades)
                            {
                                <tr>
                                    <td style="vertical-align: top;">
                                        <div class="mb-1">
                                            <strong class="text-primary">@item.NomeUnidade.ToUpper()</strong>
                                        </div>
                                        <div class="mb-1">
                                            CNPJ: @item.CNPJ
                                        </div>
                                        <div class="mb-1">
                                            @item.HorarioFuncionamento
                                        </div>
                                        <div class="mb-1">
                                            @if (item.FlagUnidadePadrao)
                                            {
                                                <span class="badge badge-success">
                                                    <i class="fa fa-check-circle"></i>&nbsp;UNIDADE PADRÃO
                                                </span>
                                            }
                                        </div>
                                        <div class="mb-1">
                                            @item.SerialImpressora
                                        </div>
                                        @if (item.FlagImprimeCodigoBarra)
                                        {
                                            <span class="badge badge-light">
                                                <i class="fa fa-barcode"></i>&nbsp;IMPRIME CÓDIGO DE BARRAS
                                            </span>
                                        }
                                    </td>
                                    <td style="vertical-align: top;">
                                        <div class="mb-1">
                                            @item.Endereco
                                        </div>
                                        <div class="mb-1">
                                            CEP: @item.Cep
                                        </div>
                                    </td>
                                    <td style="vertical-align: top;">
                                        <div class="mb-1">
                                            @item.NomeContato
                                        </div>
                                        <div class="mb-1">
                                            @item.NumeroContato
                                        </div>
                                        <div class="mb-1">
                                            @item.EmailContato
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    Quantidade de lojas: @minhaConta.Unidades.Count
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @RenderSection("modals", required: false)

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/scripts/auto-complete.min.js"></script>

    <script type="text/javascript" src="~/scripts/main.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

    <script>

        function expandirRecolherMenu() {
            $('#loading').show();
            window.location = "/app/principal/layout?url=" + window.location.pathname;
        }

        var arrayEmpresas = [];

        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Content("/app/principal/ConsultarEmpresasModalDashboard")',
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        arrayEmpresas.push(data[i].razaoSocial);
                    }
                }
            })
        });

        function btnjanelaempresa_ativa() {
            var busca = new autoComplete({
                selector: '#empresa_ativa',
                minChars: 1,
                source: function (term, suggest) {
                    term = term.toLowerCase();
                    var choices = arrayEmpresas;
                    var suggestions = [];
                    for (i = 0; i < choices.length; i++)
                        if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                    suggest(suggestions);
                }
            });
        }

        function selecionarEmpresa() {
            var empresa = $("#empresa_ativa").val();
            var setor = $("#setor").val();
            var selecao = $("#selecaoempresa_ativa:checked").length > 0;

            if (empresa.trim().length > 0) {
                $('#loading').show();
                window.location = "/app/empresa/selecionarempresaativa?empresa=" + empresa + "&setor=" + setor + "&selecao=" + selecao + "&url=" + window.location.href;
            }
            else {
                alert("Por favor, informe parte do nome da empresa que deseja localizar.");
            }
        }

        function removerEmpresa() {
            $('#loading').show();
            window.location = "/app/empresa/removerempresaativa?url=" + window.location.href;
        }

    </script>

    <script>
        function loading() {
            $('#loading').show();
        }
    </script>

    <script>
        $('.popover-dismiss').popover({
            trigger: 'focus'
        })
    </script>

    <script>
        console.log("⚠️ ATENÇÃO: A inspeção deste código é destinada apenas a desenvolvedores autorizados. Qualquer acesso não autorizado é proibido por lei. ⚠️");
    </script>

    <script>
        $(document).ready(function () {
            $('#tabela').DataTable({
                "ordering": false,
                "pageLength": 10,
                "lengthChange": false,
                "searching": false,
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Filtrar registros",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    },
                    "select": {
                        "rows": {
                            "_": "Selecionado %d linhas",
                            "0": "Nenhuma linha selecionada",
                            "1": "Selecionado 1 linha"
                        }
                    }
                }
            });
        });

    </script>

    @RenderSection("scripts", required: false)

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" integrity="sha512-kq3FES+RuuGoBW3a9R2ELYKRywUEQv0wvPTItv3DSGqjpbNtGWVdvT8qwdKkqvPzT93jp8tSF4+oN4IeTEIlQA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script>
        $(document).ready(function () {
            $('select').select2({
                theme: 'bootstrap'
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var allInputs = document.querySelectorAll('input[type="text"], input[type="password"], textarea');
            allInputs.forEach(function (input) {
                input.addEventListener('input', function () {
                    this.value = this.value.replace(/</g, '').replace(/>/g, '');
                });
            });
        });
    </script>

</body>
</html>


