@{
    ViewBag.Icon = "fa fa-address-card";
    ViewBag.Titulo = "Imprimir etiquetas";
    ViewBag.Pagina = "Imprimir etiquetas";
    ViewBag.Subtitulo = "Realizar impressão de etiquetas.";
}

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model ProjetoRenar.Presentation.Mvc.Areas.App.Models.ImpettusImprimirEtiquetasViewModel

@using ProjetoRenar.Domain.Entities

@{
    var tipos = (List<TipoProduto>)TempData["TiposDeProduto"];
    var produtos = (List<Produto>)TempData["Produtos"];
    var minhaContaUsuario = Newtonsoft.Json.JsonConvert.DeserializeObject<ProjetoRenar.Application.ViewModels.Usuarios.MinhaContaViewModel>(User.Identity.Name);
}

<div class="row" style="margin-top: -10px;">
    <div class="col-md-12">
        <div class="card-header-tab card-header">
            <div class="card-header-title">
                <h4 style="margin-top: 10px;" class="card-title"><i class="fa fa-print"></i>&nbsp;Realizar impressão de etiquetas</h4>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm("Index", "ImpettusPrincipal", FormMethod.Post, new { @id = "FormProduto" }))
                {
                    <div class="row">
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.NomeProduto, new { @style = "height: 34px!important;", @class = "form-control", @placeholder = "Digite o nome e pressione ENTER ou clique em 'Realizar Pesquisa'", @onchange = "submeterFormulario()" })
                            <div class="mt-2 text-right">
                                @Html.CheckBoxFor(model => model.CheckFavorito) Pesquisar apenas favoritos.
                            </div>
                            <div class="text-danger">
                                @Html.ValidationMessageFor(model => model.NomeProduto)
                            </div>
                        </div>                     
                        <div class="col-md-2">
                            <div style="margin-top: -2px;">
                                @Html.CheckBoxFor(model => model.CheckProdutos) &nbsp; Produtos
                            </div>
                            <div style="margin-top: -2px;">
                                @Html.CheckBoxFor(model => model.CheckPreparacoes) &nbsp; Preparações
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" value="Pesquisar" onclick="loading()">
                                <i class="fa fa-search"></i>&nbsp;Realizar Pesquisa
                            </button>
                        </div>
                    </div>
                }

                @using (Html.BeginForm("Imprimir", "ImpettusPrincipal", FormMethod.Post, new { @id = "FormularioImpressao" }))
                {
                    <div class="row mt-3">
                        <div class="col-md-12">
                            @if (Model != null && Model.ListagemProdutos != null && Model.ListagemProdutos.Count > 0)
                            {
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <div class="table-responsive" style="height: 400px; overflow-y: auto;">
                                            <table class="table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" width="60">
                                                            <input type="checkbox" style="width: 18px; height: 18px;" />
                                                        </th>
                                                        <th style="font-size: 10pt;">Produto</th>
                                                        <th width="70" class="text-center" style="font-size: 10pt;">Qtd</th>
                                                        <th class="text-center" style="font-size: 10pt;">Data/Hora</th>
                                                        <th class="text-center" style="font-size: 10pt;">Congelado</th>
                                                        <th class="text-center" style="font-size: 10pt;">Resfriado</th>
                                                        <th class="text-center" style="font-size: 10pt;" width="100">T. Ambiente</th>
                                                        <th class="text-center" style="font-size: 10pt;" width="120">Validade</th>
                                                        <th class="text-center" style="font-size: 10pt;" width="120">SIF</th>
                                                        <th class="text-center" style="font-size: 10pt;" width="120">Lote</th>
                                                        <th class="text-center" style="font-size: 10pt;" width="120">Quantidade</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.ListagemProdutos)
                                                    {
                                                        <tr>
                                                            <td class="text-center">
                                                                @if(item.PreparacaoProduto.Equals("produto"))
                                                                {
                                                                    <input type="checkbox" name="IdsProdutos" value="@(item.IdProduto.ToString() + ";1")" style="width: 18px; height: 18px;" />
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" name="IdsProdutos" value="@(item.IdProduto.ToString() + ";2")" style="width: 18px; height: 18px;" />
                                                                }
                                                            </td>
                                                            <td><div style="font-weight: 500" style="font-size: 11pt;">@item.NomeProduto.ToUpper()</div> <small>@item.NomeGrupoProduto</small></td>
                                                            <td>
                                                                <input type="number" min="1" value="0" name="QtdImpressoes" class="form-control text-center" style="font-weight: 600;" />
                                                            </td>
                                                            <td class="text-center">
                                                                <div><small>@DateTime.Now.ToString("dd/MM/yyyy")</small></div>
                                                                <div><small>@DateTime.Now.ToString("HH:mm")h</small></div>
                                                            </td>
                                                            <td class="text-center">
                                                                @if (item.FlagCongelado)
                                                                {
                                                                    <input type="radio" data-tipo="congelado" name="tipo@(item.IdProduto)" value="congelado;@item.PreparacaoProduto" data-tipo="congelado" style="width: 18px; height: 18px;" />
                                                                }
                                                            </td>
                                                            <td class="text-center">
                                                                @if (item.FlagResfriado)
                                                                {
                                                                    <input type="radio" data-tipo="resfriado" name="tipo@(item.IdProduto)" value="resfriado;@item.PreparacaoProduto" data-tipo="resfriado" style="width: 18px; height: 18px;" />
                                                                }
                                                            </td>
                                                            <td class="text-center">
                                                                @if (item.FlagTemperaturaAmbiente)
                                                                {
                                                                    <input type="radio" data-tipo="temperaturaambiente" name="tipo@(item.IdProduto)" value="temperaturaambiente;@item.PreparacaoProduto" data-tipo="temperaturaambiente" style="width: 18px; height: 18px;" />
                                                                }
                                                            </td>
                                                            <td>
                                                                <div id="congelado@(item.IdProduto)" class="text-center">
                                                                    <small>@item.DataValidadeCongelado</small>
                                                                </div>
                                                                <div id="resfriado@(item.IdProduto)" class="text-center">
                                                                    <small>@item.DataValidadeResfriado</small>
                                                                </div>
                                                                <div id="temperaturaambiente@(item.IdProduto)" class="text-center">
                                                                    <small>@item.DataValidadeTemperaturaAmbiente</small>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <input type="text" name="Sif[@item.IdProduto]" class="form-control sif-input" />
                                                            </td>
                                                            <td>
                                                                <input type="text" name="Lote[@item.IdProduto]" class="form-control lote-input" />
                                                            </td>
                                                            <td>
                                                                <input type="text" name="Quantidade[@item.IdProduto]" class="form-control quantidade-input" />
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mt-3">
                                                    Produto(s) obtido(s): @Model.ListagemProdutos.Count
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <!-- Botões fixos -->
                    <div class="fixed-bottom bg-light p-2">
                        <div class="text-right" style="padding-right: 40px; padding-top: 10px; padding-bottom: 10px; border: 1px solid #ccc; background-color: #fff; margin-left: 80px;">
                            <button type="submit" class="btn btn-success"><i class="fa fa-print"></i>&nbsp;Imprimir Etiquetas</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section scripts {

    <script>
        // Intercepta o envio do formulário
        document.getElementById("FormularioImpressao").addEventListener("submit", function (event) {
            // Impede o envio padrão do formulário
            event.preventDefault();

            // Cria um objeto FormData para enviar os dados do formulário
            var formData = new FormData(this);

            // Faz uma requisição AJAX para o endpoint de impressão
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/app/impettusprincipal/imprimir", true);
            xhr.responseType = "blob"; // Espera uma resposta do tipo blob (para o PDF)
            xhr.onload = function () {
                if (this.status === 200) {
                    // Cria uma URL temporária para o blob do PDF
                    var url = window.URL.createObjectURL(this.response);

                    // Cria um iframe oculto para abrir o PDF e imprimir
                    var iframe = document.createElement("iframe");
                    iframe.style.display = "none";
                    iframe.src = url;
                    document.body.appendChild(iframe);

                    // Espera um pouco antes de imprimir
                    setTimeout(function () {
                        iframe.contentWindow.print();
                    }, 1000); // Ajuste esse valor conforme necessário
                }
            };
            xhr.send(formData);
        });
    </script>

    <script>
        function submeterFormulario() {
            loading();
            document.getElementById('FormProduto').submit();
        }
    </script>
    <script>
        $(document).ready(function () {
            // Quando o checkbox no cabeçalho é clicado
            $("th input[type='checkbox']").click(function () {
                var isChecked = $(this).is(':checked');

                // Percorre todos os checkboxes nas linhas
                $("tbody tr td input[type='checkbox']").each(function () {
                    var $checkbox = $(this);
                    $checkbox.prop('checked', isChecked);

                    var $row = $checkbox.closest('tr');
                    // Habilita ou desabilita campos da linha
                    $row.find("input[type='number'], input[type='text'], input[type='radio']")
                        .prop('disabled', !isChecked);

                    // Define valor padrão no campo de quantidade
                    $row.find("input[type='number']").val(isChecked ? 1 : 0);

                    // Marca visual da linha
                    $row.toggleClass('highlight', isChecked);

                    // Limpa radios e oculta validade se desmarcado
                    if (!isChecked) {
                        $row.find("input[type='radio']").prop('checked', false);
                        const produtoId = $checkbox.val().split(';')[0];
                        $(`#congelado${produtoId}, #resfriado${produtoId}, #temperaturaambiente${produtoId}`).hide();
                        $row.find(".sif-input, .lote-input, .quantidade-input").val(""); // limpa ao desmarcar
                    }
                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            // Desabilita inicialmente todos os campos
            $("tbody tr td input[type='number'], tbody tr td input[type='text']").prop('disabled', true);

            // Manipula o click no checkbox do cabeçalho para marcar/desmarcar todos e habilitar/desabilitar campos
            $("th input[type='checkbox']").click(function () {
                var isChecked = $(this).is(':checked');

                // Marca ou desmarca todos os checkboxes nas linhas
                $("tbody tr td input[type='checkbox']").prop('checked', isChecked)
                    .closest('tr').toggleClass('highlight', isChecked);

                // Habilita ou desabilita todos os inputs baseado no estado do checkbox do cabeçalho
                $("tbody tr td input[type='number'], tbody tr td input[type='text']").prop('disabled', !isChecked);
            });

            // Adiciona um manipulador de eventos para quando qualquer checkbox dentro do tbody é clicado
            $("tbody tr td input[type='checkbox']").click(function () {
                var $this = $(this);
                // Encontra os campos de entrada na mesma linha do checkbox clicado
                var inputs = $this.closest('tr').find("input[type='number'], input[type='text']");

                // Habilita ou desabilita os campos baseado no estado do checkbox
                inputs.prop('disabled', !$this.is(':checked'));

                inputs.filter("input[type='number']").val($this.is(':checked') ? 1 : 0);

                // Adiciona ou remove a classe highlight baseado no estado do checkbox
                $this.closest('tr').toggleClass('highlight', $this.is(':checked'));
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            // Oculta todas as datas de validade ao carregar a página
            $("div[id^='congelado'], div[id^='resfriado'], div[id^='temperaturaambiente']").hide();

            // Desabilita todos os campos inicialmente
            $("tbody tr").each(function () {
                $(this).find("input[type='number'], input[type='text'], input[type='radio']").prop('disabled', true);
            });

           // Checkbox individual de linha
           $("tbody tr td input[type='checkbox']").click(function () {
            var $checkbox = $(this);
            var $row = $checkbox.closest('tr');
            var isChecked = $checkbox.is(':checked');

            // Habilita/desabilita campos da linha
            $row.find("input[type='number'], input[type='text'], input[type='radio']")
                .prop('disabled', !isChecked);

            // Atualiza valor do campo de número
            $row.find("input[type='number']").val(isChecked ? 1 : 0);

            // Marca visual
            $row.toggleClass('highlight', isChecked);

            // Se desmarcado, limpa campos de texto e radios
            if (!isChecked) {
                $row.find("input[type='radio']").prop('checked', false);

                // limpa SIF e Lote
                $row.find(".sif-input, .lote-input, .quantidade-input").val("");

                const produtoId = $checkbox.val().split(';')[0];
                $(`#congelado${produtoId}, #resfriado${produtoId}, #temperaturaambiente${produtoId}`).hide();
            }
        });


            // Quando um radio for marcado, exibe a data correspondente
            $("input[type='radio'][name^='tipo']").on("change", function () {
                const tipo = $(this).data("tipo"); // congelado, resfriado, temperaturaambiente
                const produtoId = $(this).attr("name").replace("tipo", "");

                // Oculta todas as validades do produto
                $(`#congelado${produtoId}, #resfriado${produtoId}, #temperaturaambiente${produtoId}`).hide();

                // Exibe a validade correspondente
                $(`#${tipo}${produtoId}`).show();
            });
        });
    </script>

}

@section styles {
    <style>
        .highlight {
            background-color: #999;
            color: #fff;
            font-weight: bold;
        }
    </style>
}
