@{
    ViewBag.Icon = "fa fa-cogs";
    ViewBag.Titulo = "Grupos de produtos";
    ViewBag.Pagina = "Grupos de produtos";
    ViewBag.Subtitulo = "Pesquisar grupos de produtos no sistema.";
}

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<div class="row" style="margin-top: -10px;">
    <div class="col-md-12">
        <div class="card-header-tab card-header">
            <div class="card-header-title">
                <h4 style="margin-top: 10px;" class="card-title"><i class="fa fa-search-plus"></i>&nbsp;Consulta de grupos de produtos</h4>
            </div>
        </div>
        <div class="card card-body">

            <form method="post" action="/app/impettusgruposproduto/consulta">

                <div class="row mb-3 mt-2">
                    <div class="col-md-6">
                        <input type="text"
                               value="@ViewBag.Nome"
                               name="nome"
                               style="height: 34px;"
                               class="form-control"
                               placeholder="Digite o nome aqui para efetuar a busca"
                               autocomplete="off"
                               data_placement="bottom"
                               data_toggle="popover"
                               data_trigger="focus"
                               title="Consulta de regiões"
                               data_content="Informe todo ou parte do nome desejado." />
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" name="ativo">
                            <option value="1" @(ViewBag.Ativo == 1 ? "selected" : "")>Ativos</option>
                            <option value="0" @(ViewBag.Ativo == 0 ? "selected" : "")>Inativos</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary" onclick="loading()" type="submit">
                            <i class="fa fa-search"></i> Pesquisar
                        </button>
                        <a href="/app/impettusgruposproduto/cadastro" class="btn btn-success" onclick="loading()">
                            <i class="fa fa-plus"></i> Incluir Grupo de Produto
                        </a>
                    </div>
                </div>

                @using ProjetoRenar.Domain.Entities
                @if (ViewBag.Dados != null)
                {
                    var consulta = (List<ImpettusGruposProduto>)ViewBag.Dados;

                    if (consulta != null && consulta.Any())
                    {
                        <div class="table-responsive">
                            <table class="table table-sm table-hover" id="tabela">
                                <thead>
                                    <tr>
                                        <th>Nome do grupo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in consulta)
                                    {
                                        <tr>
                                            <td class="clickable" style="cursor: pointer;" onclick="atualizar('@ProjetoRenar.Presentation.Mvc.Helpers.EncryptionHelper.Encrypt(item.IDGrupoProduto.ToString())')">
                                                @item.NomeGrupoProduto.ToUpper()
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                }

            </form>

        </div>
    </div>
</div>

@section scripts {
    <script>
        function atualizar(id) {
            $('#loading').show();
            window.location = '/app/impettusgruposproduto/edicao/' + id;
        }
    </script>
}